* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 25px;
}

.navbar {
  background-color: rgb(44, 44, 44);
  height: 50px;
}

aside,
section,
article {
  float: left;
  padding: 10px;
}

aside {
  width: 20%;
}

section {
  width: 40%;
}

article {
  width: 40%;
}

footer {
  background-color: lightblue;
  text-align: center;
  padding: 25px;
  clear: left;
}


@media screen and (max-width:600px){

  aside, section, article{
    width: 100%;
  }

} 